In [1]:
from pytorch_forecasting.data.examples import get_stallion_data
import pyarrow
import fastparquet
import numpy as np
import torch
from torch.utils.data import Dataset, DataLoader

In [2]:
data = get_stallion_data()

In [3]:
data.head()

,agency,sku,volume,date,industry_volume,soda_volume,avg_max_temp,price_regular,price_actual,discount,...,labor_day,independence_day,revolution_day_memorial,regional_games,fifa_u_17_world_cup,football_gold_cup,beer_capital,music_fest,discount_in_percent,timeseries
0,Agency_22,SKU_01,52.2720,2013-01-01,492612703,718394219,25.845238,1168.903668,1069.166193,99.737475,...,0,0,0,0,0,0,0,0,8.532566,0
238,Agency_37,SKU_04,0.0000,2013-01-01,492612703,718394219,26.505000,1852.273642,1611.466298,240.807344,...,0,0,0,0,0,0,0,0,13.000635,5
237,Agency_59,SKU_03,812.9214,2013-01-01,492612703,718394219,22.219737,1270.795012,1197.184260,73.610752,...,0,0,0,0,0,0,0,0,5.792496,9
236,Agency_11,SKU_01,316.4400,2013-01-01,492612703,718394219,25.360000,1176.155397,1082.757488,93.397909,...,0,0,0,0,0,0,0,0,7.940950,14
235,Agency_05,SKU_05,420.9093,2013-01-01,492612703,718394219,24.079012,1327.003396,1207.822992,119.180404,...,0,0,0,0,0,0,0,0,8.981168,22

In [4]:
# add time index
data["time_idx"] = data["date"].dt.year * 12 + data["date"].dt.month

data["time_idx"] -= data["time_idx"].min()
# add additional features

# show sample data
data.sample(10, random_state=521)

,agency,sku,volume,date,industry_volume,soda_volume,avg_max_temp,price_regular,price_actual,discount,...,independence_day,revolution_day_memorial,regional_games,fifa_u_17_world_cup,football_gold_cup,beer_capital,music_fest,discount_in_percent,timeseries,time_idx
291,Agency_25,SKU_03,0.5076,2013-01-01,492612703,718394219,25.845238,1264.162234,1152.473405,111.688829,...,0,0,0,0,0,0,0,8.835008,228,0
871,Agency_29,SKU_02,8.7480,2015-01-01,498567142,762225057,27.584615,1316.098485,1296.804924,19.293561,...,0,0,0,0,0,0,0,1.465966,177,24
19532,Agency_47,SKU_01,4.9680,2013-09-01,454252482,789624076,30.665957,1269.250000,1266.490490,2.759510,...,1,0,0,0,0,0,0,0.217413,322,8
2089,Agency_53,SKU_07,21.6825,2013-10-01,480693900,791658684,29.197727,1193.842373,1128.124395,65.717978,...,0,0,0,0,0,1,0,5.504745,240,9
9755,Agency_17,SKU_02,960.5520,2015-03-01,515468092,871204688,23.608120,1338.334248,1232.128069,106.206179,...,0,0,0,0,0,0,1,7.935699,259,26
7561,Agency_05,SKU_03,1184.6535,2014-02-01,425528909,734443953,28.668254,1369.556376,1161.135214,208.421162,...,0,0,0,0,0,0,0,15.218151,21,13
19204,Agency_11,SKU_05,5.5593,2017-08-01,623319783,1049868815,31.915385,1922.486644,1651.307674,271.178970,...,0,0,0,0,0,0,0,14.105636,17,55
8781,Agency_48,SKU_04,4275.1605,2013-03-01,509281531,892192092,26.767857,1761.258209,1546.059670,215.198539,...,0,0,0,0,0,0,1,12.218455,151,2
2540,Agency_07,SKU_21,0.0000,2015-10-01,544203593,761469815,28.987755,0.000000,0.000000,0.000000,...,0,0,0,0,0,0,0,0.000000,300,33
12084,Agency_21,SKU_03,46.3608,2017-04-01,589969396,940912941,32.478910,1675.922116,1413.571789,262.350327,...,0,0,0,0,0,0,0,15.654088,181,51

In [5]:
data['time_idx'].max()

59

In [6]:
data.loc[(data['agency'] == 'Agency_22') & (data['sku'] == 'SKU_01')].\
    sort_values(by = 'time_idx')[['agency', 'sku', 'date', 'volume']].head()

          agency     sku       date  volume
0      Agency_22  SKU_01 2013-01-01  52.272
7096   Agency_22  SKU_01 2013-02-01  62.532
8898   Agency_22  SKU_01 2013-03-01  74.196
10733  Agency_22  SKU_01 2013-04-01  89.424
12472  Agency_22  SKU_01 2013-05-01  79.164

In [7]:
data.columns

Index(['agency', 'sku', 'volume', 'date', 'industry_volume', 'soda_volume',
       'avg_max_temp', 'price_regular', 'price_actual', 'discount',
       'avg_population_2017', 'avg_yearly_household_income_2017', 'easter_day',
       'good_friday', 'new_year', 'christmas', 'labor_day', 'independence_day',
       'revolution_day_memorial', 'regional_games', 'fifa_u_17_world_cup',
       'football_gold_cup', 'beer_capital', 'music_fest',
       'discount_in_percent', 'timeseries', 'time_idx'],
      dtype='object')

In [8]:
data['agency'].nunique()

58

In [9]:
data['sku'].nunique()

25

In [10]:
data.loc[data['time_idx'] <= 53].shape

(18900, 27)

In [27]:
class Dataset(Dataset):
    
    def __init__(self, data, features, target, training_idx, test_idx, idx):
        
        self.data = data
        self.features = features
        self.target = target
        self.training_idx = training_idx
        self.test_idx = test_idx
        self.idx = idx
        
    def __len__(self):
        
        return len(self.features)
    
    def __getitem__(self, self.idx):
        
        X = torch.tensor(self.data.\
                         sort_values(by = ['agency', 'sku', 'date']).\
                         loc[self.data['time_idx'] < self.training_idx][self.features].\
                to_numpy(np.float64).reshape(-1, self.training_idx, len(self.features)))[self.idx, :, :]
        
        Y = torch.tensor(self.data.\
                             sort_values(by = ['agency', 'sku', 'date']).\
                            loc[self.data['time_idx'] >= self.training_idx][self.target].\
                            to_numpy(np.float64).reshape(-1, self.test_idx, len(self.target)))[self.idx, :, :]
        
        
        yield dict(train = X, targets = Y)

In [29]:
idx = np.random.choice(350, 50)

In [30]:

training = Dataset(data, 
                   ['volume', 'industry_volume', 'soda_volume', 'price_regular'], 
                   ['volume'], 54, 6, idx)

In [32]:
next(training.__getitem__())

{'train': tensor([[[4.4219e+01, 4.9261e+08, 7.1839e+08, 1.8987e+03],
          [3.2206e+01, 4.3194e+08, 7.5394e+08, 1.9064e+03],
          [3.9235e+01, 5.0928e+08, 8.9219e+08, 1.9477e+03],
          ...,
          [3.1950e+01, 5.8997e+08, 9.4091e+08, 2.3583e+03],
          [3.7062e+01, 6.2876e+08, 9.1741e+08, 2.3468e+03],
          [2.9330e+01, 6.3685e+08, 9.2837e+08, 2.3964e+03]],

         [[4.4027e+01, 4.9261e+08, 7.1839e+08, 1.7421e+03],
          [6.9907e+01, 4.3194e+08, 7.5394e+08, 1.7421e+03],
          [1.4953e+02, 5.0928e+08, 8.9219e+08, 1.8065e+03],
          ...,
          [9.5658e+01, 5.8997e+08, 9.4091e+08, 2.2959e+03],
          [8.5115e+01, 6.2876e+08, 9.1741e+08, 2.2857e+03],
          [1.7892e+02, 6.3685e+08, 9.2837e+08, 2.2844e+03]],

         [[3.5667e+02, 4.9261e+08, 7.1839e+08, 1.2886e+03],
          [3.8789e+02, 4.3194e+08, 7.5394e+08, 1.2886e+03],
          [4.0405e+02, 5.0928e+08, 8.9219e+08, 1.3164e+03],
          ...,
          [5.5718e+02, 5.8997e+08, 9.4091e+08, 1.7054e+03],
          [6.9829e+02, 6.2876e+08, 9.1741e+08, 1.7058e+03],
          [7.3813e+02, 6.3685e+08, 9.2837e+08, 1.7031e+03]],

         ...,

         [[1.1880e+02, 4.9261e+08, 7.1839e+08, 1.1500e+03],
          [1.3943e+02, 4.3194e+08, 7.5394e+08, 1.1500e+03],
          [1.5844e+02, 5.0928e+08, 8.9219e+08, 1.1879e+03],
          ...,
          [3.4549e+02, 5.8997e+08, 9.4091e+08, 1.6640e+03],
          [2.4343e+02, 6.2876e+08, 9.1741e+08, 1.6824e+03],
          [1.5325e+02, 6.3685e+08, 9.2837e+08, 1.6850e+03]],

         [[3.6475e+03, 4.9261e+08, 7.1839e+08, 1.2535e+03],
          [3.9883e+03, 4.3194e+08, 7.5394e+08, 1.2529e+03],
          [4.4031e+03, 5.0928e+08, 8.9219e+08, 1.2733e+03],
          ...,
          [9.1212e+03, 5.8997e+08, 9.4091e+08, 1.6857e+03],
          [8.2398e+03, 6.2876e+08, 9.1741e+08, 1.4899e+03],
          [7.3078e+03, 6.3685e+08, 9.2837e+08, 1.3622e+03]],

         [[0.0000e+00, 4.9261e+08, 7.1839e+08, 0.0000e+00],
          [0.0000e+00, 4.3194e+08, 7.5394e+08, 0.0000e+00],
          [0.0000e+00, 5.0928e+08, 8.9219e+08, 0.0000e+00],
          ...,
          [1.9579e+00, 5.8997e+08, 9.4091e+08, 1.7939e+03],
          [3.3199e+00, 6.2876e+08, 9.1741e+08, 1.8373e+03],
          [2.9794e+00, 6.3685e+08, 9.2837e+08, 1.8366e+03]]],
        dtype=torch.float64),
 'targets': tensor([[[4.6072e+01],
          [4.1279e+01],
          [2.4282e+01],
          [2.8180e+01],
          [4.0001e+01],
          [6.5050e+01]],

         [[8.3198e+01],
          [5.8213e+01],
          [4.9203e+01],
          [2.8691e+01],
          [6.0066e+01],
          [1.2505e+02]],

         [[6.5125e+02],
          [9.0192e+02],
          [8.7773e+02],
          [5.7579e+02],
          [5.5413e+02],
          [5.5878e+02]],

         [[5.2221e+03],
          [6.8212e+03],
          [6.4008e+03],
          [7.4468e+03],
          [4.7223e+03],
          [6.5879e+03]],

         [[1.3291e+02],
          [2.2097e+02],
          [1.5387e+02],
          [1.8026e+02],
          [2.6742e+02],
          [2.7650e+02]],

         [[1.4148e+01],
          [1.0260e+01],
          [1.0260e+01],
          [9.5040e+00],
          [9.9360e+00],
          [1.0908e+01]],

         [[2.2730e+03],
          [2.5140e+03],
          [2.1683e+03],
          [1.9982e+03],
          [2.5147e+03],
          [2.5796e+03]],

         [[4.6683e+03],
          [3.6615e+03],
          [3.4718e+03],
          [2.0298e+03],
          [1.7036e+03],
          [3.7635e+03]],

         [[3.4200e+01],
          [3.1200e+01],
          [1.2000e+01],
          [0.0000e+00],
          [9.6000e+00],
          [0.0000e+00]],

         [[1.7280e+01],
          [1.4472e+01],
          [7.1280e+00],
          [1.3824e+01],
          [1.4256e+01],
          [1.5444e+01]],

         [[9.2843e+03],
          [5.5750e+03],
          [6.1035e+03],
          [4.2193e+03],
          [5.9933e+03],
          [6.7186e+03]],

         [[1.3561e+04],
          [1.5418e+04],
          [1.0229e+04],
          [1.4266e+04],
          [1.1041e+04],
          [1.4679e+04]],

         [[0.0000e+00],
          [5.1606e+00],
          [3.5532e+00],
          [9.5598e+00],
          [2.5380e+00],
          [0.0000e+00]],

         [[0.0000e+00],
          [5.1606e+00],
          [3.5532e+00],
          [9.5598e+00],
          [2.5380e+00],
          [0.0000e+00]],

         [[3.1950e+00],
          [4.1535e+00],
          [1.9809e+00],
          [2.3643e+00],
          [2.1087e+00],
          [1.6614e+00]],

         [[1.9840e+03],
          [2.0291e+03],
          [1.7151e+03],
          [1.6926e+03],
          [1.9007e+03],
          [2.6929e+03]],

         [[2.3781e+02],
          [2.1429e+02],
          [2.2021e+02],
          [2.2614e+02],
          [2.2935e+02],
          [2.2114e+02]],

         [[7.2360e+00],
          [8.4240e+00],
          [5.4000e+00],
          [7.0632e+01],
          [4.9356e+01],
          [8.4348e+01]],

         [[3.2376e+00],
          [2.2152e+00],
          [1.1076e+00],
          [9.3720e-01],
          [1.1928e+00],
          [1.2780e+00]],

         [[5.3920e+03],
          [6.5664e+03],
          [5.2947e+03],
          [6.0911e+03],
          [5.1287e+03],
          [5.2497e+03]],

         [[8.4600e-01],
          [1.0998e+00],
          [1.4382e+00],
          [1.0152e+00],
          [5.0760e-01],
          [8.4600e-02]],

         [[0.0000e+00],
          [9.0000e-02],
          [0.0000e+00],
          [0.0000e+00],
          [1.3500e+00],
          [0.0000e+00]],

         [[1.2604e+02],
          [1.2604e+02],
          [1.0768e+02],
          [1.5390e+02],
          [6.2532e+01],
          [1.1675e+02]],

         [[8.9460e-01],
          [3.1950e-01],
          [2.5560e-01],
          [1.9170e-01],
          [0.0000e+00],
          [6.3900e-02]],

         [[6.0897e+02],
          [4.7542e+02],
          [4.7107e+02],
          [3.4832e+02],
          [4.0928e+02],
          [5.3267e+02]],

         [[2.9905e+03],
          [3.3438e+03],
          [3.0741e+03],
          [2.9173e+03],
          [3.1577e+03],
          [3.6456e+03]],

         [[1.8735e+02],
          [1.3227e+02],
          [1.1246e+02],
          [1.3246e+02],
          [3.8340e-01],
          [0.0000e+00]],

         [[2.6391e+01],
          [2.0512e+01],
          [2.3196e+01],
          [1.7125e+01],
          [1.6486e+01],
          [1.5144e+01]],

         [[1.3153e+04],
          [1.1571e+04],
          [1.3462e+04],
          [8.8298e+03],
          [9.4605e+03],
          [1.3166e+04]],

         [[2.4534e+00],
          [2.0304e+00],
          [1.6074e+00],
          [2.6226e+00],
          [1.0152e+00],
          [2.4534e+00]],

         [[5.9292e+01],
          [6.6420e+01],
          [9.5904e+01],
          [5.2812e+01],
          [3.7908e+01],
          [3.5532e+01]],

         [[2.3004e+00],
          [1.9170e+00],
          [9.5850e-01],
          [4.4730e-01],
          [1.0224e+00],
          [7.6680e-01]],

         [[8.6400e-01],
          [1.4040e+00],
          [1.6200e+00],
          [9.7200e-01],
          [1.2960e+00],
          [9.7200e-01]],

         [[6.4800e-01],
          [2.1600e-01],
          [4.3200e-01],
          [6.4800e-01],
          [6.4800e-01],
          [5.4000e-01]],

         [[2.9160e+00],
          [2.5920e+00],
          [2.0520e+00],
          [3.4560e+00],
          [3.6720e+00],
          [6.3720e+00]],

         [[1.5913e+02],
          [1.7842e+02],
          [2.0642e+02],
          [1.5533e+02],
          [1.4509e+02],
          [1.5600e+02]],

         [[1.9662e+02],
          [8.4540e+01],
          [2.1886e+02],
          [2.1962e+02],
          [0.0000e+00],
          [3.2423e+02]],

         [[8.1153e+01],
          [8.7990e+01],
          [7.0418e+01],
          [5.3868e+01],
          [6.4603e+01],
          [7.2015e+01]],

         [[1.4137e+02],
          [1.6697e+02],
          [1.4224e+02],
          [1.4645e+02],
          [1.5185e+02],
          [2.0984e+02]],

         [[2.4921e+00],
          [2.1726e+00],
          [3.0672e+00],
          [4.0257e+00],
          [3.7062e+00],
          [4.6647e+00]],

         [[2.9905e+03],
          [3.3438e+03],
          [3.0741e+03],
          [2.9173e+03],
          [3.1577e+03],
          [3.6456e+03]],

         [[1.1837e+02],
          [8.4996e+01],
          [8.6508e+01],
          [6.1128e+01],
          [7.8732e+01],
          [4.2768e+01]],

         [[3.2781e+01],
          [3.2717e+01],
          [2.9522e+01],
          [2.4282e+01],
          [2.2621e+01],
          [4.3516e+01]],

         [[2.4921e+02],
          [1.7745e+02],
          [1.8020e+02],
          [1.6812e+02],
          [1.4064e+02],
          [1.8678e+02]],

         [[5.2657e+01],
          [3.5843e+01],
          [1.1947e+01],
          [4.3365e+01],
          [3.0532e+01],
          [3.5400e+01]],

         [[3.4084e+02],
          [3.0289e+02],
          [2.1828e+02],
          [2.3368e+02],
          [2.5413e+02],
          [3.6896e+02]],

         [[4.4250e+00],
          [1.3275e+00],
          [0.0000e+00],
          [0.0000e+00],
          [8.8500e-01],
          [2.2125e+00]],

         [[1.4137e+02],
          [1.6697e+02],
          [1.4224e+02],
          [1.4645e+02],
          [1.5185e+02],
          [2.0984e+02]],

         [[7.4384e+03],
          [7.8150e+03],
          [6.4307e+03],
          [8.2334e+03],
          [9.2215e+03],
          [7.4542e+03]],

         [[1.2769e+00],
          [8.5125e-02],
          [2.5538e-01],
          [8.5125e-02],
          [0.0000e+00],
          [0.0000e+00]]], dtype=torch.float64)}